body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url("img1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

form {
    background:transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 20px 20px rgba(2, 2, 2, 2.2);
}
form input,form button {
    width: 95%;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
}
form select{
    width: 99%;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#copy tr{
    background:rgb(52, 237, 243);
    display: none;
}
#copy th{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
   
}
#saves{
    background-color:rgb(32, 167, 32);
    border: none;
    color: white;
}    
#delete{
    background-color: red;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 3px;
    font-size: 15px;

}
#review{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: transparent;
    color: white;
    border-radius: 10px;
    font-family: ui-serif;
    font-size: 30px;
    position: fixed;
    right: 90px;
    bottom: 90px;
    border: none;
}
#review:hover{
    border: solid 1px white;
}
.popup{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    display: none;

}
